.btn-secundario {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #6c757d; /* Gris */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .btn-secundario:hover {
    background-color: #5a6268; /* Gris más oscuro */
  }
  
  .btn-secundario:active {
    background-color: #4e555b; /* Gris más oscuro al hacer clic */
    transform: scale(0.95);
  }
  
  .btn-secundario:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    color: #666666;
  }
  